<!--
<!DOCTYPE html>
<html>
<head>
<title>TEXT UTILES</title>
</head>
<body>

{% comment %} <h1>This is a Heading</h1> {% endcomment %}
<p></p> 
<h1 style  =   "color:red; background-color:pink"; > THIS IS MY FIRST PROJECT <strong><q>PUNCUATATION REMOVE </q>
<strong> </h>
<h2> WELCOME TO THE TEXT ANALYSER  ENTER TO THE TEXT BELOW...... </h2>
<form action = 'analize' method = "get"> 
<textarea name  = "text" style="margin: 0px; width: 959px; height: 209px;"> </textarea><br>
 <input type= "checkbox" name  ="removepunck" ><br> REMOVE PUNCATION<br> 
 <input type= "checkbox" name  ="capital" ><br> capital letter<br> 
 <input type= "checkbox" name  ="newlineremove" ><br> newlineremove<br> 




<button style ="submit">ANALYSER TEXT</button><br>

</form>

</body>zzz
</html>

-->
<!DOCTYPE html>
<html>

<head>
    
</head>
<body>
    <h1 style="color: blue;"><strong>
       THIS IS MY NEW  SOFTWARE 
      
      </h1> 
    
      

        <form action = '/removepunk' method  ="get" > 
        <h2 style=  "color: darkgreen;">ENTER THE TEXT</h2>
<textarea name  = "text"  style='margin: 0px; width: 721px; height: 93px;' ></textarea>
        <br>
        <br>
          <div>
        <span style="border: yellowgreen;"><strong style="color:darkorange;"> REMOVEPUNCTUATION</strong></span><input type = "checkbox" name  ="remove"  checked>
          </div>
        <br>
        <br>
        <div>
      <strong style="color:darkred;">CHECKBOX FULL CAPS</strong> :-<input type= "checkbox" name = "fullcap" check>
        </div>
        <br>
        <br>

        <div>
       <strong style="color:royalblue ;">CHECKBOX NEWLINE REMOVER</strong>   <input type ="checkbox" name ="newline" check>
        </div>
        <br>
        <br>

        <div>
       <strong style="color: sienna;">SUBMIT BUTTON</strong> <button type = "submit"> analize text </button>
        </div>

         
</form>
</body>
</html>
